<!DOCTYPE html>
<html>
    <head>
        <title>Willkommen!</title>
        <link rel="stylesheet" type="text/css" href="/css"/>

    </head>
    <body>
        <!--Navigationsbar und Überschrift -->
        <nav> 
            <div class="container">  
                
                <!--Logo-->
                <div class="logo"> 
                    <img src="logo2.png" alt="Logo">   
                </div> 
                
            <h1 class ="headline" >
            HANDS & PAWS 
            </h1>

                <div class="menu"> 
                    <a href="/startseite">Home</a>
                    <a href="/about">About</a>
                    <a href="/spenden_1">Spenden</a>
                    <a href="/kontakt" class="currently-active">Kontakt</a>
                    <a href="/login">Login</a>
                   
                </div>
             </div>
         </nav>
         <div class="welcome-text"> 
        <h2>Fehler <br></h2>
            <p>Entweder existiert dieser Account schon, oder Sie haben ihren Benutzernamen oder ihr Passwort falsch eingegeben.
                <br> Bitte versuchen Sie es erneut.
            </p>

        
        <a href="/login"> zum Login </a>
         </div>
    </body>


</html>