<!DOCTYPE html>
<html> 
    <head>
        <!-- Titel der Internetseite-->
        <title>Hands & Paws</title>

         <!--CSS-Code in Extradatei-->
         <link rel="stylesheet" type="text/css" href="/css"/>

    </head>
    <body>

        <!--Navigationsbar und Überschrift -->
        <nav> 
            <div class="container">  
                
                <!--Logo-->
                <div class="logo"> 
                    <img src="logo2.png" alt="Logo">   
                </div> 
                
            <h1 class ="headline" >
            HANDS & PAWS 
            </h1>

                <div class="menu"> 
                    <a href="/startseite">Home</a>
                    <a href="/about">About</a>
                    <a href="/spenden_1">Spenden</a>
                    <a href="/kontakt" >Kontakt</a>
                    <a href="/mein_account" class="currently-active">mein Account</a>
                   
                </div>
             </div>
         </nav>
        
    <!--Startseite1 -->

    <div class="welcome-text"> 

        <h2>
             Mein Account

        <h3> <br>  Moino </h3>
        
        <!--Textparagraph -->
        <p>
           <br>
            aaa
            <br> aaa <span class="text-highlight2">bbb</span>
        </p>

          
        </div>     
    </body>

</html> 
