<!DOCTYPE html>
<html> 
    <head>
        <!-- Titel der Internetseite-->
        <title>Hands & Paws</title>

         <!--CSS-Code in Extradatei-->
         <link rel="stylesheet" type="text/css" href="/css"/>

    </head>
    <body>

        <!--Navigationsbar und Überschrift -->
        <nav> 
            <div class="container">  
                
                <!--Logo-->
                <div class="logo"> 
                    <img src="logo2.png" alt="Logo">   
                </div> 
                
            <h1 class ="headline" >
            HANDS & PAWS 
            </h1>

                <div class="menu"> 
                    <a href="/startseite" class="currently-active">Home</a>
                    <a href="/about">About</a>
                    <a href="/spenden_1">Spenden</a>
                    <a href="/kontakt">Kontakt</a>
                    <a href="/sessionDelete">Logout</a>
                   
                </div>
             </div>
         </nav>
        
    <!--Startseite2 -->

    <div class="welcome-text"> 

        <h2>
             Gemeinsam erreichen wir <span class="text-highlight">Tierwohl</span> auf der Welt.</h2>

        <h3> <br> <br> Hallo, <%=benutzername%>. Willkommen zurück.</h3>
        
        <!--Textparagraph, Link -->
        <p>
           <br>
            Tatenloses Zusehen ist vorüber. Auf zu den Spenden! <br>
            <a href="/spenden_1">Zur Spendenübersicht</a>
 
        </p>

        </div>     
    </body>

</html> 
